:root {
  --backgroudColor: rgba(51, 51, 51, 0.5);
}

body {
  background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: 100%;
}

#fullSection {
  display: flex;
  padding-top: 15vh;
}

#locationHistory {
  width: 12vw;
  margin: 0 10vw;
  padding: 0;
  /* background-color: var(--backgroudColor); */
}

aside{
  color: white;
  text-align: center;
}

form input {
  display: block;
  margin: 1rem;
  width: 10vw;
}

form button {
  background-color: var(--backgroudColor);
  color: white;
  display: block;
  margin: 1rem;
  width: 10vw;
}

#locationHistoryButtons {
  overflow: hidden;
  height: 48vh;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

#locationHistoryButtons Button {
  display: block;
  margin: 1rem;
  width: 10vw;
  align-items: center;
  color: white;
  background-color: var(--backgroudColor);

}

#WeatherDetailsArea {
  width: 50vw;
  height: max-content;
}

#mainWeatherCard {
  background-color: var(--backgroudColor);
  color: white;
  text-decoration: none;
  width: 90;
  height: 15rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
}

#weatherCardContainer {
  display: flex;
  width: auto;
}

.weatherCard {
  background-color: var(--backgroudColor);
  color: white;
  text-decoration: none;
  width: 16rem;
  height: 22rem;
  padding: 2rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 1rem;
}

.weatherCard img {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;

  border-radius: 1rem;
}
